@import "../../..//node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import '../../variables.scss';

// fixes a react-sticky bug
.Flexbox > div > div {
    width: 50vw;
}

.Main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100vh;
}

.Content {
    background-color: $white;
    min-height: 100vh;
}

@include media-breakpoint-up(lg) {
    .Flexbox {
        display: flex;
    }

    .Main {
        width: 50vw;
    }

    .Content {
        width: 45vw;
        padding-left: 5vw;
    }
}
