@import "../../..//node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import '../../variables.scss';

.Main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100vh;

    h2 {
        padding-top: 25vh;
    }
}

.Content {
    background-color: $white;
    min-height: 100vh;
}

@include media-breakpoint-up(lg) {
    .Flexbox {
        display: flex;

        & > div {
            width: 50vw;
            flex-shrink: 0;
        }
    }

    .Main {
        width: 50vw;
    }

    .Content {
        padding: 5vh 5vw;
    }
}
