@import "../../variables.scss";

.Header {
    background-color: #292929;
    height: 100vh;
    text-align: center;
}

.Caption {
    padding-top: 40px;
    text-transform: uppercase;
    color: $primary;
}

.Logo {
    height: 200px;
}