@import "../../variables.scss";

.Footer {
    color: white;
    text-align: center;
    padding-top: 70px;

    h1 {
        padding: 0 30px;
    }

    svg {
        fill: white;
        width: 40px;
        height: 40px;
        margin: 0 10px;
    }

    svg:hover {
        fill: $primary;
    }

    .Copyrights {
        position: absolute;
        bottom: 20px;
        width: 100%;
        color: $primary;
    }
}

