@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins/breakpoints";
@import "./variables.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Playfair+Display:400,700&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 42px;
    margin: 0 30px;
}

h2 {
    font-weight: 600;
    font-size: 36px;
    margin: 0 30px;
}

h3 {
    font-weight: 600;
    font-size: 18px;
}

strong {
    color: $primary;
    font-weight: normal;
}

a, a:hover, a:visited, a:active, a:link {
    text-decoration: none;
    text-transform: lowercase;
}

.Wrapper {
    position: relative;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.Intro {
    background-color: $primary;
}

.CV {
    background-color: $secondary;
}

.Projects {
    background-color: $white;
}

.Contact {
    background-color: $secondary;
}

*, *:before, *:after {
    box-sizing: border-box;
}