@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins/breakpoints";
@import "./variables.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Playfair+Display:400,700&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 42px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 36px;
}

a, a:hover, a:visited, a:active, a:link {
    text-decoration: none;
    text-transform: lowercase;
    color: white;
}

section {
    height: 100vh;
}

.Wrapper {
    position: relative;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.Intro {
    background-color: $primary;
}

.About {
    background-color: $white;
}

.Projects {
    background-color: $secondary;
    @include media-breakpoint-down(sm) {
        background-color: blue;
    }
}

.Contact {
    background-color: $secondary;
}